<div class="menu-bar">
    <div class="mui--text-white mui--text-display1 mui--align-vertical">
        My App
    </div>
    <div class="">
        <ul class="mui-list--unstyled mui--text-menu" style="padding: 10px 8px;line-height: 32px;font-size: 16px;">
            <li>
                <a href="/" class="mui--text-light">Home</a>
            </li>
            <li>
                <a href="/counter" class="mui--text-light">Counter</a>
            </li>
            <li>
                <a href="/counter/123" class="mui--text-light">Counter 123</a>
            </li>
            <li>
                <a href="/todo" class="mui--text-light">Todo</a>
            </li>
            <li>
                <a href="/protected" class="mui--text-light">Protected</a>
            </li>
            <li if="!$auth->isAuthenticated">
                <a href="/login" class="mui--text-light">Login</a>
            </li>
            <li else>
                <a href="#" class="mui--text-light" (click)="logout($event)">Logout</a>
                <div if="$message">
                    $message
                </div>
            </li>
        </ul>
    </div>
</div>